@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Zen+Tokyo+Zoo&display=swap');
body{
    background-color: rgba(64, 224, 208, 0.432);
}
main{
    padding: 0.625em;
    background-color: white;
    width: 50em;
    margin: auto;
    border-radius: 0.625em;
    box-shadow: 1px 1px 5px rgb(1, 27, 27);
}
main h1{
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: rgb(8, 53, 53);
    text-shadow: 2px 2px 1px rgb(8, 230, 230) ;
    margin: 5px 1px 70px 1px;
}
label{
    font:normal 1.2em Arial, Helvetica, sans-serif ;
}
input[type=number]{
    width: 100px;
}
input[type=button]{
    height: 30px;
    width: 100px;
    font:normal 1.2em Arial, Helvetica, sans-serif ;
    color: rgb(1, 27, 27);
    border-radius: 10px;
}
section#imagens{
    margin-top: 100px;
    text-align: center;
}